body
{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.rs>.container1
{
    display: flex;
    padding: 20px 100px;
   align-items: center;
}
.rs span
{
    color: rgb(60, 172, 213);
}

.rs>h1
{
    text-align: center;
    margin-top: 80px;
}
.loginpage
{
    margin-top: 80px;
  
}
.signuppage
{
    margin-top: 80px;
  
}
.homepage
{
    margin-top: 80px;
    
}
.rs>p
{
width: 70%;
margin: auto;

}
.rs>.headp
{
    text-align: center;
}
.rs button
{
    padding:10px 20px;
    background-color:rgb(60, 172, 213) ;
    color: white;
    border: none;
    border-radius: 10px;
    
}
.rs button:hover
{
  opacity: 80%;
  cursor: pointer;
}
.rs nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

    
}
nav>img
{
    width: 160px;
}

.rs nav div
{
display: flex;
gap: 5px;
}